h1 {
  color: purple;
  font-size: 60px;
  background-color: #d3d3d3;
  border: 2px solid black;
  /*
  border-color: black;
  border-width: 2px;
  border-style: solid;
  */
}

li {
  color: green;
}

body {
  background-image: url("https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/mm9498_220317_1078.jpg?w=1600");
  background-repeat: no-repeat;
  background-size: cover;
}

.moon {
  color: rgb(205, 78, 108);
}

#europa-text {
  font-size: 25px;
}
