@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&family=Roboto&display=swap");

.date {
  color: #008080;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-family: Montserrat, Arial, sans-serif;
}

.post-container {
  background-color: #fffafa;
  font-family: Open Sans, Arial, sans-serif;
  text-align: justify;
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
}

.post {
  margin: 0px 70px 0px 70px;
  padding-top: 20px;
  padding-bottom: 15px;
}

body {
  margin: 0px;
}
